{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    ورود به حساب
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
            <div class="alert alert-warning">
                        <p class="fw-bold mb-0">
                            اکانت ادمین برای تست
                            <br><br>
                            username: admin
                            <br>
                            password: 12345678Ab
                        </p>
                    </div>
                {% if request.GET.next == '/cart/checkout/' %}
                    <div class="alert alert-success">
                        <p class="fw-bold mb-0">برای ادامه فرایند خرید ابتدا وارد حساب خود شوید.</p>
                    </div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            <p class="fw-bold mb-0">{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title fw-bold">ورود به حساب</h6>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="mb-3">
                                {{ form.password|as_crispy_field }}
                                <a href="{% url 'password_reset' %}" class="text-primary ">فراموشی رمز عبور</a>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-success">ورود</button>
                            </div>
                            <div class="mb-3">
                                <a href="

                                        {% url 'account:register' %}{% if request.GET.next == '/cart/checkout/' %}?next=/cart/checkout/{% endif %}"
                                   class="text-primary">حسابی ندارید؟ ثبت نام کنید</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}