{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    فراموشی رمز عبور
{% endblock %}

{% block content %}
    <div class="container my-4">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-title fw-bold">فراموشی رمز عبور</h6>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.</p>
                            <div class="mb-3">
                                <a href="{% url 'login' %}"
                                   class="btn btn-success w-100">ورود به حساب</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}