{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}
    صفحه اصلی
{% endblock %}

{% block content %}
    <!-- header section start -->
    <header class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <div class="border-bottom border-warning p-3">
                    <a href="#">
                        <i class="fas fa-newspaper"></i>
                        سبزیجات
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-bottom border-danger p-3">
                    <a href="#">
                        <i class="fas fa-kit-medical"></i>
                        میوه
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-bottom border-info p-3">
                    <a href="#">
                        <i class="fas fa-code"></i>
                        خشکبار
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="border-bottom border-primary p-3">
                    <a href="#">
                        <i class="fas fa-sort-alpha-asc"></i>
                        طبیعی
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header section end -->

    <!-- content section start -->
    <section class="container mt-5">

        <div class="row">
            <div class="col-md-12">
                <h5 class="text-bold mb-4">محصولات</h5>
            </div>
            <!-- single product -->
            {% for product in products %}
                <article class="col-md-3 article-card">
                    <div>
                        <img src="{{ product.image.url }}" class="article-img" alt="article 1">
                    </div>
                    <div class="article-overlay">
                        <h3 class="my-4 mx-2 article-title">
                            <a href="#">{{ product.title }}</a>
                        </h3>
                        <p class="my-4 mx-2 text-light">
                            {{ product.description|truncatewords:10 }}
                        </p>
                        <div class="my-4 mx-2">
                            <span class="text-white">
                                <i class="fa fa-money"></i>
                                {{ product.price|intcomma:False }} تومان
                            </span>
                        </div>
                        <div class="my-4 mx-2">
                            <a href="{% url 'core:product-detail' product.pk %}" class="btn btn-primary">مشاهده و خرید</a>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
    <!-- content section end -->
{% endblock %}