{% extends 'core/base.html' %}
{% load humanize %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block content %}
    {% csrf_token %}
    <!-- intro section start -->
    <section class="container my-5">
        <div class="row">
            <!-- single slide -->
            <div class="col-md-12 intro-box mb-5">
                <div class="bg-light">
                    <div class="row">
                        <div class="col-md-6 intro-img">
                            <img src="{{ object.image.url }}" alt="Post 1">
                        </div>
                        <div class="col-md-6 intro-content">
                            <h3 class="my-4 mx-2 intro-content-title">
                                {{ object.title }}
                            </h3>
                            <p class="my-4 mx-2">
                                {{ object.description }}
                            </p>
                            <p>
                                <b>{{ object.price|intcomma:False }} تومان</b>
                            </p>
                            <div class="d-flex justify-content-start">
                                <input type="number" min="1" placeholder="تعداد" class="form-control w-50 me-2"
                                       id="cartCount">
                                <button class="btn btn-primary" id="cartAdd">
                                    <i class="fa fa-shopping-cart"></i>
                                    افزودن به سبد خرید
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end sindle slide -->
        </div>
    </section>
{% endblock %}

{% block meta_js_code %}
    <script>
        $(document).ready(function () {
            $('#cartAdd').click(function () {
                let count = $('#cartCount').val()

                $.ajax({
                    'url': `/cart/add/${'{{object.id}}'}`,
                    type: "POST",
                    dataType: "json",
                    data: JSON.stringify({
                        payload: {
                            'count': (count < 1) ? 1 : count
                        }
                    }),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                    success: (data) => {
                        if (data['status'] === 'added') {
                            alert('محصول به سبد خرید اضافه شد')
                        } else if (data['status'] === 'failed') {
                            alert('مقدار درخواستی بیش از حد مجاز میباشد.')
                        }
                    },
                    error: (data) => {
                        alert("محصول به سبد اضافه نشد!")
                    }
                })
            })
        })
    </script>
{% endblock %}